*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}  
body{
    background-color:rgb(238,238,238);
}
 header{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
}
header .logo{
     text-decoration: none;
    font-size: 30px;
    font-family: cursive;
    color: #000000;
    margin-left: 100px;
}
header ul{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    list-style: none;
}
header ul li{
    margin-right: 60px;
    font-size: 15px;
    font-family: cursive;
}
header ul li a:hover, header .logo:hover{
    color:rgb(236,59,39);
    border-bottom: 2px solid rgb(36,48,72);;
    font-weight: 900;
}

header ul li a{
    text-decoration: none;
    color: #000000;
}
hr{
    padding-top: 3px;
    background-color: rgb(157, 168, 193);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text{
    padding:50px;
    text-transform: capitalize;
}
.content .text h6:first-child{
   margin-bottom:10px ;
   color: #334323;
}
.content .text h5{
    margin-top: 10px;
    color: #9b9898;
    font-size: 10px;
}
.content .text h2{
    margin-bottom:5px ;
    font-size: 35px;
}
.content .text .hh{
    transition: 1s cubic-bezier(0.98, 1.4, 0, -0.96);
    width: 60%;
}
.content .text .hh:hover{
    background-color: burlywood;
}
.content .text h4{
    margin:40px;
    color: rgb(15, 158, 15);
    font-weight: 900;
}
.content .text p{
    font-size: 35px;
    font-weight: 700;
    color: rgb(15, 158, 15);
}
.content img{
    width: 520px;
    padding-top: 20px;
   margin-right: 50px;

}

@media(min-width:315px) and (max-width:460px) {
    .content img{
      width: 300px;
      margin-right: 25px;
    }
    header .logo{
      margin-left:0px
    }
    .content{
         flex-direction: column;
         justify-content: center;
    }
    header ul li{
        margin-right: 13px;
        font-size: 12px;
    }
    .content .text h2 {
        font-size: 22px;
    }
    .content .text p {
        font-size: 20px;
    }
    .content .text {
        padding: 23px;
    }
    .content .text .hh{
        width: 90%;
    }
         
    }

@media(min-width:460px) and (max-width:560px) {
    .content img{
      width: 305px;
      margin-right: 25px;
    }
    header .logo{
      margin-left:20px
    }
    .content{
         flex-direction: column;
         justify-content: center;
    }
    header ul li{
        margin-right: 22px;
        font-size: 13px;
    }
    .content .text h2 {
        font-size: 35px;
    }
    .content .text p {
        font-size: 30px;
    }
    .content .text {
        padding: 25px;
    }
    .content .text .hh{
        width: 90%;
    }    
    }
@media(min-width:560px) and (max-width:840px) {
    .content img{
      width: 305px;
      margin-right: 25px;
    }
    header .logo{
      margin-left:25px
    }
    .content{
         flex-direction: column;
         justify-content: center;
    }
    header ul li{
        margin-right: 42px;
        font-size: 15px;
    }
    .content .text h2 {
        font-size: 46px;
    }
    .content .text p {
        font-size: 30px;
    }
    .content .text {
        padding: 20px;
    }
    .content .text .hh{
        width: 90%;
    }    
    }
@media(min-width:840px) and (max-width:973px) {
    .content img{
      width: 470px;
      margin-right: 25px;
    }
    header .logo{
      margin-left:25px
    }
    
    header ul li{
        margin-right: 42px;
        font-size: 15px;
    }
    .content .text h2 {
        font-size: 35px;
    }
    .content .text p {
        font-size: 33px;
    }
    .content .text {
        padding: 20px;
    }
    .content .text .hh{
        width: 90%;
    }    
    }